<% articles.forEach((article, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= article.title %></td>
      <td class="text-truncate" style="max-width: 200px;"><%= article.content %></td>
      <td><%= article.tags %></td>
      <td>
        <img src="/images/<%= article.image %>" alt="<%= article.title %>" class="img-fluid" style="max-height: 50px;">
      </td>
      <td>
        <a href="dashboard/article/edit/<%= article.id %>" class="btn btn-sm btn-warning">Edit</a>
        <a href="dashboard/article/delete/<%= article.id %>" class="btn btn-sm btn-danger">Delete</a>
      </td>
    </tr>
<% }); %>